<div class="container">
  <div class="d-flex justify-content-center">
    <h3><%= courseOnTable %> <%= academicYear %></h3>
  </div>
  <hr />
  <div class="d-flex justify-content-center">
    <% if(errorOnTable.length>0){%>
    <h2><%= errorOnTable[0] %></h2>

    <% } %>
  </div>
  <% if(errorOnTable[0] != "No curriculum are made in here"){%>
    <form action="/curriculum/addNewSubject" method="POST">
      <button type="submit" class="btn btn-success col-2">
        Add Subject
      </button>
    </form>
    <% } %>
  <table class="table table-hover">
    <div class="container">
      <div class="row">
        <h4 class="col-10">1st Semester</h4>

    
      </div>
    </div>
    <thead>
      <tr>
        <th scope="col">Subject Code</th>
        <th scope="col">Subject Description</th>
        <th scope="col">Units</th>
      </tr>
    </thead>

    <tbody>

      <% if(results){%>
      <!--  -->
      <% results.forEach(item=>{ %>
      <% if(item.semester == "1st") {%>
      <tr>
        <th scope="row"><%- item.subject_code %></th>
        <td><%- item.subject_description %></td>
        <td>
          <%- item.units %>
          <button type="submit" class="btn btn-info l-2">Edit</button>
        </td>
      </tr>

      <% }}) } %>

      <!--  -->
    </tbody>
  </table>

  <!-- <table class="table table-hover">
      <h2>2nd Semester</h2>
      <thead>
        <tr>
          <th scope="col">Subject Code</th>
          <th scope="col">Subject Description</th>
          <th scope="col">Units</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">-</th>
          <a href="/log-in">
            <td>jkalk</td>
          </a>
          <td>N/A</td>
        </tr>
      </tbody>
    </table>
  
  
  
    <table class="table table-hover">
      <h2>Mid Year</h2>
      <thead>
        <tr>
          <th scope="col">Subject Code</th>
          <th scope="col">Subject Description</th>
          <th scope="col">Units</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">-</th>

          <td>N/A</td>

          <td>N/A</td>
        </tr>
      </tbody>
    </table> -->
</div>
