<title><%= courseNAcadYear %> | Add New Subject</title>

<!-- TODO: Organize code-->

<div class="navigationBar">
  <nav>
    <ul>
      <li>
        <h1>PASS COLLEGE PORTAL</h1>
      </li>

      <li><a href="/dashboard" class="tabs">Dashboard</a></li>
      <li><a href="/account" class="tabs">Account</a></li>
      <li><a href="/log-in" class="tabs">Logout </a></li>
    </ul>
  </nav>
</div>
<a class="" href="/menu" style="text-decoration: none">
  <button type="button" class="btn btn-outline-secondary m-3">
    Go back to Menu
  </button>
</a>
<ol class="breadcrumb px-3">
  <li class="breadcrumb-item"><a href="/menu">Menu</a></li>
  <li class="breadcrumb-item"><a href="/curriculum">Curriculum</a></li>
  <li class="breadcrumb-item active">Add New Subject</li>
</ol>

<hr />

<div class="container mt-5">
  <%- include("./partials/errors") %>

  <div class="card text-white bg-info mb-3" style="max-width: 20rem">
    <div class="card-header">Current Selection</div>
    <div class="card-body">
      <h4 class="card-title"><%= courseNAcadYear %></h4>
      <p class="card-text">Kindly input neccesary information</p>
    </div>
  </div>

  <form method="POST" action="/curriculum/saveNewSubject">
    <div class="d-flex justify-content-end flex-wrap">
      <button class="btn btn-custom col-lg-2 mx-3" type="submit">Add</button>

      <a
        class="btn btn-secondary col-lg-2"
        href="/curriculum"
        style="color: #000"
        >Cancel</a
      >
    </div>

    <div class="row">
      <div class="form-group col-lg-6">
        <label for="year_level" class="form-label mt-4">Year Level</label>
        <select
          value="<%= year_level %>"
          class="form-select"
          id="year_level"
          name="year_level"
        >
          <%- include("./partials/addNewSubject/year_LevelSelect") %>
        </select>
      </div>
      <div class="form-group col-lg-6">
        <label for="semesters" class="form-label mt-4">Semester</label>
        <select
          value="<%= semester %>"
          class="form-select"
          id="semesters"
          name="semesters"
        >
          <%- include("./partials/addNewSubject/semesterSelect") %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="subjectCode" class="form-label mt-4">Subject Code</label>
        <input
          class="form-control"
          value="<%=subject_code %>"
          name="subjectCode"
          id="subjectCode"
          placeholder="eg AC-GE 2"
          required
        />
      </div>

      <div class="form-group col-lg-4">
        <label for="subjectDescription" class="form-label mt-4"
          >Subject Description</label
        >
        <input
          value="<%= subject_description %>"
          type="text"
          class="form-control"
          name="subjectDescription"
          id="subjectDescription"
          placeholder=" e.g. Undertanding the Self"
          required
        />
      </div>

      <div class="form-group col-lg-4">
        <label for="units" class="form-label mt-4">Units</label>
        <input
          value="<%= units %>"
          type="number"
          class="form-control"
          name="units"
          id="units"
          placeholder="e.g. 3"
          required
        />
      </div>
    </div>
    <br />
  </form>
</div>
