<title>Curriculum</title>

<%- include("../navbar/navbarMain") %>
<a href="/menu" style="text-decoration: none">
  <button type="button" class="btn btn-outline-primary m-3">
    Go back to Menu
  </button>
</a>
<ol class="breadcrumb p-2">
  <li class="breadcrumb-item"><a href="/menu">Menu</a></li>
  <li class="breadcrumb-item active">Curriculums</li>
</ol>
<!-- FIXME: Redesign list-->

<div class="container-fluid">
  <div class="row">
    <div class="sidebar col-lg-3">
      <form action="/curriculum/show" method="POST">
        <div class="accordion" id="listCon">
          <h4>Curriculum Subjects</h4>
          <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4"
              >Academic year</label
            >
            <select class="form-select" id="academicYear" name="academicYear">
              <% academicYearList.forEach((item)=>{%>
              <!--  -->
              <% if(academicYear == item.year){ %>
              <option selected><%- item.year %></option>

              <% }else{ %>
              <option><%- item.year %></option>
              <% } }) %>
            </select>
          </div>
          <br />

          <%- include("./partials/curriculumListParts/accordions") %>
        </div>
      </form>
    </div>

    <div class="col-lg-9">
      <div class="container">
        <div class="row">
          <button
            type="button"
            class="btn btn-success col-3"
            data-bs-toggle="modal"
            data-bs-target="#addNewCurriculum"
          >
            Create New Curriculum
          </button>

          <form class="d-flex col">
            <input
              class="form-control me-sm-2"
              type="text"
              placeholder="Search"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="button">
              Search
            </button>
          </form>
        </div>
      </div>
      <hr />

      <%- include("./partials/curriculumListParts/table") %>
    </div>
  </div>
</div>

<!-- MODAL VIEW FOR ADDING NEW CURRICULUM -->
<form method="POST" action="/curriculum/createNew">
  <div class="modal" id="addNewCurriculum">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Curriculum</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <!--  -->
          <%- include ("addCurriculumbody") %>
          <!---->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom">Create</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<%- include("./partials/curriculumListParts/edit") %>

<script>
  if ("<%= error%>" != []) {
    addNew = document.getElementById("addNewCurriculum");
    const toggle = new bootstrap.Modal(addNew);
    toggle.show();
  }
</script>
